<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="none">
    <listeners>
        <listener class-name="utils.listeners.TestListener"/>
        <listener class-name="utils.listeners.AnnotationTransformer"/>
    </listeners>
    <test name="SauceLabs" preserve-order="true">
        <classes>
            <class name="runners.TestRunner"/>
        </classes>
    </test>
</suite>